<div class="container">
  <div class="row">
    <div class="col" style="padding-top:5px ! important;">
      <div class="card" style="padding: 5px;width: 20rem;">
        <div class="card-body">
          <img style="max-width:200px;" src="/assets/img/logo.png" />
          <p class="cardo-regular" style="font-size:48px;">Discovrninja</p>
          <p>Version {{version.version}}</p>
          <p>Build {{format "datetime" version.epochBuildDate}}</p>
          <p>Username {{user.username}}</p>
        </div>
      </div>
    </div>
    <div class="col" style="padding-top:5px !important;">
      <div class="card" style="padding:5px;width: 20rem;">
        <div class="card-body">
          <table class="table table-striped table-hover table-sm caption-top">
            <caption>Container States</caption>
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {{# each states}}
                <tr>
                  <td>{{title}}</td>
                  <td>{{total}}</td>
                </tr>
                {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" style="padding-top:5px ! important;">
      <div class="card" style="padding:5px;width: 20rem;">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-sm table-nowrap">
              <tbody>
                <tr>
                  <td>CPU Cores</td>
                  <td>{{sysinfo.info.NCPU}}</td>
                </tr>
                <tr>
                  <td>Containers</td>
                  <td>{{sysinfo.info.Containers}}</td>
                </tr>
                <tr>
                  <td>Containers Running</td>
                  <td>{{sysinfo.info.ContainersRunning}}</td>
                </tr>
                <tr>
                  <td>Containers Paused</td>
                  <td>{{sysinfo.info.ContainersPaused}}</td>
                </tr>
                <tr>
                  <td>Containers Stopped</td>
                  <td>{{sysinfo.info.ContainersStopped}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="padding-top:5px ! important;">
      <div class="card" style="padding:5px;width: 20rem;">
        <div class="card-body">
          {{>analogclock}}
        </div>
      </div>
    </div>
  </div>
</div>
