<div class="modal fade" id="containerInfoModal" tabindex="-1" aria-label>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="containerInfoLabel">{{container.Name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="text-align:center;margin-top:5px" class="card">
          <img class="card-img-top" style="padding:5px;width:10rem;height:10rem;" src="/api/icons/r/{{definition.iconCatalog}}/{{definition.iconSlug}}/resource" />
        </div>
        <div class="card-body">
          <p class="card-text">
          <table border="0" cellpadding="2" cellspacing="0">
            <tr>
              <td>Hostname:</td>
              <td>{{container.Config.Hostname}}</td>
            </tr>
            <tr>
              <td>Image:</td>
              <td>{{container.Config.Image}}</td>
            </tr>
            <tr>
              <td>Updatable:</td>
              <td>{{#if updateStatus}}
{{#if updateStatus.updateAvailable}}Update Available{{else}}Up-to-date{{/if}}</td>
{{else}}Unknown{{/if}}
            </tr>
            <tr>
              <td>Created:</td>
              <td>{{format "datetime" definition.created }}</td>
            </tr>
            <tr>
              <td>Available:</td>
              <td>{{#if available}}Yes{{else}}No{{/if}}</td>
            </tr>
            <tr>
              <td>Status:</td>
              <td>{{container.State.Status}}</td>
            </tr>
            <tr>
              <td>Health:</td>
              <td>{{container.State.Health.Status}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-containerid="{{container.Name}}" data-command="container-stop">Stop</button>
        <button type="button" class="btn btn-secondary" data-containerid="{{container.Name}}" data-command="container-start">Start</button>
        <button type="button" class="btn btn-secondary" data-containerid="{{container.Name}}" data-command="container-restart">Restart</button>
        {{#if editor.editable}}
          <button onclick="composeEdit(this); return false;" data-containerid="{{container.Name}}" data-project="{{definition.project}}" type="button" class="btn btn-secondary"><i class="fa-regular fa-pen-to-square"></i> Edit</button>
        {{else}}
          <button onclick="composeEdit(this); return false;" data-containerid="{{container.Name}}" data-project="{{definition.project}}" type="button" class="btn btn-secondary"><i class="fa-regular fa-square-plus"></i> Edit</button>
        {{/if}}
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
