<div class="bg-{{#if color}}{{color}}{{else}}primary{{/if}} bg-gradient mb-2 rounded text-light">
  <p class="fs-4" style="margin-top;5px">
    {{# if icon}}&nbsp<i class="{{icon}}"></i>{{/if}}
      &nbsp;{{# if title}}{{title}}
        {{else}}{{this}}{{/if}}
  </p>
</div>
