<script type="text/javascript">
  var clockModal = document.getElementById("analogClockModal{{settings.id}}");
  if (clockModal) {} else {
    var clockModal = app.templates.modalanalogclock({
      tz: "{{settings.tz}}",
      id: "{{settings.id}}"
    });
    $(document.body).append(clockModal);
  }

</script>
<button class="btn {{# isempty parent.buttonclass}}btn-secondary{{else}}{{parent.buttonclass}}{{/isempty}} widget" style="{{#isnotempty parent.opacity}}opacity:{{parent.opacity}} !important;{{/isnotempty}}" data-bs-toggle="modal" data-bs-target="#analogClockModal{{settings.id}}">
  {{> analogclock settings}}
</button>
